
.topbar {
  background-color: rgb(40, 40, 77);
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0;
}
.search-bar {
  padding: 8px 12px;
  border-radius: 30px;
  border: 1.5px black solid;
  font-size: 18px;
  width: 250px;
  background-color: white;
}
.menu,
.search,  
.filter,
.settings {
  padding: 2px;
  height: 13px;
}
.menu-button,
.search-button,
.filter-button,
.settings-button {
  border: 1.5px solid black;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  background-color: white;
  margin: 3px;
}
.add-icon-left,
.add-icon-right {
  display: inline-block;
  border: none;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.newtask,
.taskgroups {
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background: none;
}