.body {
  margin: 0;
  font-family: Arial;
}
.header {
  background-color: rgb(81, 81, 81);
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.search-bar {
  display: flex;
  padding: 8px 12px;
  border-radius: 30px;
  border: 1.5px black solid;
  font-size: 18px;
  width: 400px;
  background-color: white;
}
.menu,
.search,  
.filter,
.settings,
.tile { 
  padding: 2px;
  height: 13px;
}
.menu-button,
.search-button,
.filter-button,
.settings-button,
.view-type-button {
  display: flex;
  border: 1.5px solid black;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  background-color: white;
  margin: 3px;
}
.menu-button-flex,
.filter-button-flex {
  display: flex;
  flex: 1;
}
.add-icon-left,
.add-icon-right {
  border: none;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.newtask,
.taskgroups {
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background: none;
}
.tasks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.vl {
  border-left: 1.5px grey solid;
  height: 460px;
  position: absolute;
  left: 50%;
  top: 85px;
}
