.body {
  margin: 0;
  font-family: Arial;
  z-index: 1;
}
.header {
  background-color: rgb(81, 81, 81);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
}
.left-section {
  margin-left: 5px;
  display: flex;
  align-items: center;
} 
.mid-section {
  flex: 1;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right-section {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.search-bar {
  display: flex;
  flex: 1;
  padding: 8px 12px;
  border-radius: 30px;
  border: 1.5px black solid;
  font-size: 18px;
  background-color: white;
}
.menu,
.search,  
.filter,
.tile,
.close{ 
  padding: 2px;
  height: 13px;
}
.info,
.settings {
  height: 20px;
  padding-right: 3px;
  padding-left: 13.3px
}
.menu-button,
.search-button,
.filter-button,
.view-type-button,
.close-button {
  display: flex;
  border: 1.5px solid black;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  margin: 3px;
}
.menu-button:hover,
.search-button:hover,
.filter-button:hover,
.view-type-button:hover,
.close-button:hover {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  transition: 0.1s;
}
.add-icon-left,
.add-icon-right {
  border: none;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.newtask,
.taskgroups {
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background: none;
  display: flex;
}
.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.vl {
  border-left: 1.5px grey solid;
  height: 460px;
  position: absolute;
  left: 50%;
  top: 15px;
}
.sidebar {
  display: block;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(81, 81, 81);
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
}
.sidebar a {
  display: block;
  padding-left: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #c9c9c9;
  transition: 0.1s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  display: flex;
  position: absolute;
  top: 7px;
  font-size: 36px;
}
.openbtn {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
#main {
  transition: margin-left 0.1s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}