.body {
  margin: 0;
  font-family: Arial;
}
.header {
  background-color: rgb(81, 81, 81);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.left-section {
  margin-left: 5px;
  display: flex;
  align-items: center;
} 
.mid-section {
  flex: 1;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right-section {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.search-bar {
  display: flex;
  flex: 1;
  padding: 8px 12px;
  border-radius: 30px;
  border: 1.5px black solid;
  font-size: 18px;
  background-color: white;
}
.menu,
.search,  
.filter,
.settings,
.tile { 
  padding: 2px;
  height: 13px;
}
.close {
  border: none;
  height: 20px;
}
.menu-button,
.search-button,
.filter-button,
.settings-button,
.view-type-button {
  display: flex;
  border: 1.5px solid black;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  margin: 3px;
}
.menu-button:hover,
.search-button:hover,
.filter-button:hover,
.settings-button:hover,
.view-type-button:hover {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  transition: 0.1s;
}
.add-icon-left,
.add-icon-right {
  border: none;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.newtask,
.taskgroups {
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background: none;
}
.tasks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.vl {
  border-left: 1.5px grey solid;
  height: 460px;
  position: absolute;
  left: 50%;
  top: 85px;
}
















.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}