html {
  font-family: Arial, Helvetica, sans-serif;
  z-index: -4;
}
@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -4;
  position: sticky;
  box-shadow: 0px 0px 100px gray inset;
}
.header {
  background-color: rgb(81, 81, 81);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  box-shadow: -10px 20px 30px -1px rgb(52, 51, 51) inset;
}
.website-info {
  text-align: center;
  margin-top: 60px;
}
.page-logo {
  height: 100px;
}
h3 {
  margin-bottom: 0px;
}
hr {
  border: 0.5px solid rgb(200, 200, 200);
  margin-top: 10px;
}
.left-section {
  margin-left: 5px;
  display: flex;
  align-items: center;
} 
.mid-section {
  flex: 1;
  z-index: 4;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-section {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.search-bar,
.task-search-bar {
  display: flex;
  flex: 1;
  padding: 8px 12px;
  border-radius: 30px;
  border: 1.5px black solid;
  font-size: 18px;
  background-color: white;
}
.menu,
.search,  
.filter,
.tile,
.close,
.close-task-module { 
  padding: 2px;
  height: 13px;
}
.info,
.settings,
.chart {
  height: 20px;
  padding-right: 3px;
  padding-left: 13.3px;
  margin-right: 3px;
}
.menu-button,
.search-button,
.filter-button,
.view-type-button,
.close-button {
  display: flex;
  border: 1.5px solid black;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  margin: 3px;
}
.menu-button:hover,
.search-button:hover,
.filter-button:hover,
.view-type-button:hover,
.close-button:hover {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  transition: 0.1s;
}
.add-icon{
  border: none;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.newtask,
.taskgroups {
  border: none;
  border-radius: 13px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  background: none;
  display: flex;
  width: 99%;
}
.newtask {
  margin-top: 9px;
}
.newtask:hover,
.taskgroups:hover {
  background-color: rgb(234, 234, 234);
  transition: 0.1s;
}
.tasks {
  display: block;
  float: left;
  align-items: center;
  position: sticky;
  z-index: -3;
  width: 100%;
}
.sidebar {
  display: block;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(81, 81, 81);
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
  box-shadow: 10px 20px 30px -1px rgb(52, 51, 51) inset;
}
.sidebar a {
  display: block;
  padding-left: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #c9c9c9;
  transition: 0.1s;
  align-items: center;
}
.sidebar .not-x {
  margin-top: 5px;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  display: flex;
  position: absolute;
  top: 7px;
  font-size: 36px;
}
.openbtn {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
#main {
  transition: margin-left 0.1s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* The Modal (background) */
.modal {
  display: flex;
  position: fixed; /* Stay in place */
  padding-top: 65px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 20px 33px 20px;
  width: 40%;
  border: 1.7px rgb(166, 221, 239) solid;
  border-radius: 13px;
}
/* The Close Button */
.close-task-module {
  float: right;
}
.close-task-module:hover,
.close-task-module:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s;
}
.submit-button {
  background-color: rgb(35, 201, 26);
  color: white;
  padding: 8px 10px;
  border: 1.7px rgb(166, 221, 239) solid;;
  border-radius: 13px;
  cursor: pointer;
  float: right;
  box-shadow: 0px 2px 2px rgba(99, 99, 99, 0.25);
  margin-top: 5px;
}
.submit-button:hover {
  background-color: rgb(15, 191, 15);
  transition: 0.1s;
}
.task-due-date,
.task-priority,
.description,
.task-search-bar,
.category,
.description,
.status {
  margin: 0px 5px 5px 0px;
}
.task-search-bar {
  display: flex;
  width: 65%;
}
.task-due-date,
.task-priority,
.category,
.status {
  border: 1.7px rgb(166, 221, 239) solid;
  border-radius: 13px;
  padding: 5px;
}
.description {
  width: 60%;
  border: 1.7px rgb(166, 221, 239) solid;
  border-radius: 13px;
  height: 100px;
  resize: none;
  max-lines: 5;
  padding: 8px 0px 0px 5px;
}
.filter-modal {
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 65px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.filter-modal-content {
  z-index: 4;
  background-color: #fefefe;
  margin: auto;
  padding: 20px 20px 55px 20px;
  width: 40%;
  border: 1.7px rgb(166, 221, 239) solid;
  border-radius: 13px;
}
.filter-close {
  float: right;
}
.filter-close:hover,
.filter-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s;
}
.apply-filters-button {
  background-color: rgb(35, 201, 26);
  color: white;
  padding: 8px 10px;
  border: 1.7px rgb(166, 221, 239) solid;;
  border-radius: 13px;
  cursor: pointer;
  float: right;
  box-shadow: 0px 2px 2px rgba(99, 99, 99, 0.25);
  margin-top: 5px;
}
.apply-filters-button:hover {
  background-color: rgb(15, 191, 15);
  transition: 0.1s;
}
.asc-desc-select {
  border: 1.7px rgb(166, 221, 239) solid;
  border-radius: 13px;
  padding: 5px;
}