html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(90, 90, 90);
  color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: sticky;
  box-shadow: 0px 0px 100px rgb(45, 45, 45) inset;
}
.light-mode {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 100px gray inset;
}
.header {
  background-color: rgb(81, 81, 81);
  height: 60px;
  z-index: -2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  box-shadow: -10px 20px 30px -1px rgb(52, 51, 51) inset;
}
h1,
p {
  margin: 5px;
}
.menu,
.close { 
  padding: 2px;
  height: 13px;
}
.menu-button,
.close-button {
  border: 1.5px rgb(166, 221, 239) solid;
  display: flex;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
}
.menu-button {
  margin-left: 5px;
}
.home,
.settings,
.chart {
  height: 20px;
  padding-right: 3px;
  padding-left: 13.3px;
  margin-right: 3px;
}
.menu-button:hover,
.close-button:hover {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  transition: 0.1s;
}
.help-image1 {
  height: 60px;
  border: red solid 2px;
}
hr {
  margin: 9px;
}
.sidebar {
  display: block;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(81, 81, 81);
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
  box-shadow: 10px 20px 30px -1px rgb(52, 51, 51) inset;
}
.sidebar a {
  display: block;
  padding-left: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #c9c9c9;
  transition: 0.1s;
  align-items: center;
}
.sidebar .not-x {
  margin-top: 5px;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  display: flex;
  position: absolute;
  top: 7px;
  font-size: 36px;
}
.openbtn {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
#main {
  transition: margin-left 0.1s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}