p {
  padding: 10px;
}

h2 {
  margin: 0px;
}

.words {
  padding: 10px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(112, 112, 112);
  color: white;
  margin: 0;
  padding: 0;
}
.light-mode {
  background-color: white;
  color: black;
}
.header {
  background-color: rgb(81, 81, 81);
  height: 60px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  box-shadow: -10px 20px 30px -1px rgb(52, 51, 51) inset;
  top: 0;
}
.website-info {
  text-align: center;
  margin-top: 60px;
}
.page-logo {
  height: 100px;
}
::placeholder {
  color: #c9c9c9;
}
h3 {
  margin-bottom: 0px;
  margin-top: 10px;
}
hr {
  border: 0.5px solid rgb(200, 200, 200);
  margin: 0px 9px
}
label:hover {
  cursor: pointer;
}
.filter-option:hover {
  cursor: pointer;
}
.left-section {
  margin-left: 5px;
  display: flex;
  align-items: center;
} 
.mid-section {
  flex: 1;
  z-index: 4;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-section {
  margin-right: 5px;
  display: flex;
  align-items: center;
}